body {
  background-color: rgb(124, 235, 138);
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

h1{
  font-family: tahoma;
  font-size: 2rem;
  border: #313236;
  padding: 1rem;
  text-align: center;
}

h2{
  font-family: Georgia;
  font-size: 2rem;
  border:#ffffff ;
  padding: 1rem;
  text-align: center;
}


.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

